* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* Style the side navigation */
.sidenav {

    flex: 30%;
    height: 100%;
  /* height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; */
  background-color: #e7e1e1;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: rgb(0, 0, 0);
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
flex: 70%;
}